.second-section{
    position: relative;
    z-index: -999 !important;
    .form-section{
        z-index: -999 !important;
        
        .links{
            color: red !important;
        }
        .title{
            font-weight: 900;
            color: #ff9600;
        }
        .form-content{
            font-weight: 400;
            font-size: 1.4rem !important;
            line-height: 1.6em !important;
            color: #303030;
        }
        .inner-content{
            background-color: #ff9600;

            h6{
                font-family: "Satisfy",cursive;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            .div-inner-content{
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.6em;
                color: #303030;
            }
        }
        .PT-content{
            color: #034589;
        }
        .seo-content{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6em;
            color: #303030;
        }
        .V-content{
            color: #034589;
        }
        ul{
            li{
                a{
                    color: #006193 !important;
                    font-size: 1rem;
                    cursor:  pointer !important;
                    transition: all .4s;

                    &:hover{
                        color: #034589;
                        transition: all .4s;
                    }
                }
            }
        }
    }
    .in-content{
        background: #dfe4e7;

        .card-contnet{
            font-family: "satisfy",cursive;
            color: #ff9600;
            font-size: 1.3rem;
            line-height: 1.7rem;
        }
        .content{
            font-weight: 400;
            font-size: 1rem;    
        }
        button{
            background: #034589;
            color: white;
        }
    }
}

@media only screen and (max-width: 56.25rem){   
    .content-2{
        display: none;
    }
    .marketing{
        .blogs{
            .blog-cards{
                .card-1{
                    border-bottom: 1px solid white;
                    button{
                        margin-bottom: 10px;
                    }
                }

            }
        }
    }
}